<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
  <main>
    {{ partial "header.html" . }}
    <section class="lien">
      <p>Atelier qui se déroule les samedis 5 et 19 février 2022 de 9h30 à 16h30 en salle C-2043 du Pavillon Lionel Groulx de l'Université de Montréal.</p>
    </section>
    <section>
      <p>Séance 1 — Samedi 5 février 2022</p>
      <ul class="posts">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate).Pages }}
          {{ if isset .Params "invisible" }}
          {{ else }}
          {{ if ne .Kind "section" }}
          {{ if isset .Params "seance1" }}
          <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
            <hr>
           <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        {{ end }}
          <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a href="tp03.xml" title="TP 03" itemprop="name url">06 - Exercice : Encoder un manuscrit en utilisant un schéma</a>
            <hr>
          <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
          </li>
      </ul>
    </section>
      <hr>
    <section>
      <p>Séance 2 — Samedi 19 février 2022</p>
      <ul class="posts">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate).Pages }}
          {{ if isset .Params "invisible" }}
          {{ else }}
          {{ if ne .Kind "section" }}
          {{ if isset .Params "seance2" }}
          <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
            <hr>
            <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </section>
      <!-- <section>
        <p>Bonus</p>
        <ul class="posts">
          {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate).Pages }}
            
            {{ if ne .Kind "section" }}
            {{ if isset .Params "bonus" }}
            <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
              <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
              <hr>
             <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
            </li>
            {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </section> -->

    {{ partial "footer.html" . }}
  </main>
</body>
</html>
