<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </p>
      {{ end }}

      <span itemprop="articleBody">
        <h2>Baladodiffusion</h2>
        <figure>
          <audio controls="" preload="metadata">
            <source src="/audio/{{ .Params.audio }}" type="audio/mpeg">
          </audio>
        </figure>
        <p><a href="/audio/{{ .Params.audio }}">Téléchargement du fichier (MP3)</a></p>
        {{ if .Params.notes }}<p class="notes">Prise de notes collective : <a href="{{ .Params.notes }}">{{ .Params.notes }}</a></p>{{ end }}
        <h2>Transcription</h2>
        {{ .TableOfContents }}
        {{ .Content }}
      </span>
       

    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
